@font-face {
	font-family: 'Neue Montreal';
	src: url("/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Neue Montreal';
	src: url("/fonts/PPNeueMontreal-Bold.woff") format("woff");
	font-weight: 700;
}

:root {
	--text-color: rgb(224, 208, 208);
	--text-color-dark: #385C2C;
	--background-color: #3b4d3e;
	--background-color-dark: rgb(213, 213, 213);

}

/**/

html {
	overflow-x: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background: var(--background-color);
	border-color: var(--background-color);
	font-family: 'Neue Montreal', sans-serif;
	font-display: swap;
	color: var(--text-color);
	line-height: 1.5;
	margin: 0;
	padding: 0;
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}


html {
	overflow-y: scroll;
}

section {
	padding: 50px 0;
	display: flex;
}


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	width: 700px;
	margin: 0 auto;
}


header {
	color: rgb(39, 24, 24);
	border-radius: 10px;
	padding: 1em;
	background-color: #4f0;
	width: fit-content;
	border-radius: 100%;
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}


.home-link {
	font-size: 1em; /* 16px /16 */
	margin-right: 2em;
	font-weight: 400;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

.blog-container {
	max-width: 700px;
	margin: auto;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
}
.postlist-item {
	text-decoration: none;
  background: linear-gradient(137.42deg, rgba(255,255,255,0.075) 21.58%, rgba(255,255,255,0.045) 106.63%),rgba(255,255,255,0);
  border-radius: 50%;
  margin-bottom: 27px;
  padding: 18px;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
	text-align: center;
}

.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}
