@font-face {
	font-family: 'Neue Montreal';
	src: url("/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Neue Montreal';
	src: url("/fonts/PPNeueMontreal-Bold.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: 'PicNic';
	src: url("/fonts/PicNic-Regular.woff") format("woff");
	font-weight: 700;
}



body {
	font-family: "Neue Montreal", sans-serif;
	color: #ACEF95;
	background-color: #19472F;
	padding: 10px 50px;

}

a {
	color: inherit;
}

a:hover {
	/* background-color: rgb(85, 0, 255); */
	background-color: rgb(68, 74, 241);
	color: white;
}

header h1,
header a {
	font-family: "PicNic", sans-serif;
	text-decoration: none;
	font-size: 30px;
	width: 250px;
}


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.postlist {
	padding: 50px 0;
}

.postlist-link {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: 1px dashed;
  border-top: 0px;
  padding: 10px;
}


.postlist-item:first-child .postlist-link {
  border-top: 1px dashed; /* Add top border to the first item */
}

.postlist-item {
  position: relative;
}


.blog-container {
	max-width: 700px;
	border: 1px dashed;
	margin: 50px auto;
	padding: 30px;
	background-color: #375b32;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

@media only screen and (max-width: 1000px) {
	body {
		padding: 5px;
	}
}
