@font-face {
	font-family: 'Neue Montreal';
	src: url("/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Neue Montreal';
	src: url("/fonts/PPNeueMontreal-Bold.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: 'PicNic';
	src: url("/fonts/PicNic-Regular.woff") format("woff");
	font-weight: 700;
}



body {
	font-family: "Neue Montreal", sans-serif;
	color: #ACEF95;
	background-color: #19472F;
	padding: 10px 50px;
	display: flex;
	flex-direction: column;
}


section {
	flex: 1; /* This makes the content take up the available space */
}

p {
	line-height: 1.5;
}

a {
	color: inherit;
}

a:hover {
	/* background-color: rgb(85, 0, 255); */
	background-color: rgb(68, 74, 241);
	color: white;
}

header h1,
header a,
footer a {
	font-family: "PicNic", sans-serif;
	text-decoration: none;
	font-size: 30px;
	width: 250px;
}

footer {
	bottom: 0;
	display: flex;
	width: 100%;
	align-items: flex-end;
	padding-bottom: 30px;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.postlist {
	padding: 50px 0;
}

.postlist-link {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: 1px dashed;
  border-top: 0px;
  padding: 10px;
}

.postlist-date {
	text-align: right;
}

.postlist-item:first-child .postlist-link {
  border-top: 1px dashed; /* Add top border to the first item */
}

.postlist-item {
  position: relative;
}


.blog-container {
	max-width: 700px;
	border: 1px dashed;
	margin: 50px auto;
	padding: 30px;
	background-color: #375b32;
}

.links-nextprev {
	padding: 0;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

.post-metadata {
	padding: 0;
}

.email {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #cd5c5c;
  color: white;
  width: 90%;
  filter: invert();
	outline: 0;
}

.submit-button {
	background: transparent;
  border: none;
  color: white;
	transition: .2s all;
	font-size: 22px;
	vertical-align: middle;
}

.submit-button:hover {
  color: greenyellow;
}

.form {
	max-width: 350px;
	margin-top: 20px;
}

.thanks-bubble {
	position: fixed;
	top: 25px;
	right: 25px;
	background-color: rgba(0, 0, 0, .9);
	color: white;
	padding: 10px 20px;
	z-index: 1000000;
	border-radius: 20px;
	animation: fadeOut 3s forwards;
  }

	/* This will ensure that the code within <pre> tags wraps and doesn't overflow */
pre[class*="language-"] {
	font-size: 12px !important;
	white-space: pre-wrap !important;        /* CSS3 */
	white-space: -moz-pre-wrap !important;  /* Firefox */
	white-space: -pre-wrap !important;      /* Opera <7 */
	white-space: -o-pre-wrap !important;    /* Opera 7 */
	word-wrap: break-word !important;       /* IE */
}

/* Additional style for better aesthetics */
code[class*="language-"] {
	white-space: pre-wrap !important;       /* CSS3 */
	white-space: -moz-pre-wrap !important;  /* Firefox */
	white-space: -pre-wrap !important;      /* Opera <7 */
	white-space: -o-pre-wrap !important;    /* Opera 7 */
	word-wrap: break-word !important;       /* IE */
}


@media only screen and (max-width: 1000px) {
	body {
		padding: 5px;
	}
	footer {
		display: initial;
	}
}
